.nav-tabs {
  .nav-link {
    color: $gray-600;
    border-top: none;
    border-left: none;
    border-right: none;

    &.active {
      border-bottom: 2px solid $primary;
      color: $primary;
    }
  }
}